/* splitpanes */

.splitpanes.default-theme .splitpanes__pane {
  background-color: white;
}

.splitpanes.default-theme .splitpanes__splitter {
  background-color: #f1f1f1;
}

.splitpanes.default-theme .splitpanes__splitter:hover {
  animation: applyTransition 0.5s steps(1);
  background-color: #e9967a;
}

@keyframes applyTransition {
  0% {
    background-color: #f1f1f1;
  }
  100% {
    background-color: #e9967a;
  }
}
